<body>
  <header class="bg-white shadow border-t-4 border-indigo-600">
    <div class="container mx-auto px-6 py-4">
      <div class="flex items-center justify-between">
        <div>
          <button class="flex items-center text-gray-800 hover:text-indigo-600">
            <i class="fas fa-terminal"></i>
            <span class="mx-3 font-medium text-sm md:text-base">
              Knowledge Base
            </span>
          </button>
        </div>
        <div class="flex items-center -mx-2">
          <button
            class="flex items-center mx-2 text-gray-800 hover:text-indigo-600"
          >
            <i class="fab fa-github text-2xl"></i>
          </button>

          <button
            class="flex items-center mx-2 text-gray-800 hover:text-indigo-600"
          >
            <i class="fab fa-linkedin text-2xl"></i>
          </button>

          <button
            class="flex items-center mx-2 text-gray-800 hover:text-indigo-600"
          >
            <i class="fab fa-instagram text-2xl"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
</body>
